* {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
h1, h2 {
    text-align: center;
    color: rgb(0, 150, 0);
}
table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(89, 175, 89);
}
th, td {
    border: 1px solid rgb(89, 175, 89);
    padding: 3px;
}

th {
    background-color: rgb(89, 175, 89);
}